body {
    margin-top: 60px;
}

p {
    font-size: 1.5em;
}

h1 {
    border: #ddd solid 1px;
    border-radius: 5px;
    background-color: #eee;
    padding: 10px;
}

h1:hover {
    background-color: #444;
    color: #eee;
}
